@layer base {
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  } /*16px*/

  :root {
    --brown: #6d1600;

    /* rest of the colors */
    --bright-grey: #f6f6f6;
    --grey: #d9d9d9;
    --black: #282a3a;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--white);
    --textColor: var(--black);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1440px;
    --fixed-width: 600px;

    /* font family */
    --plus-jakarta: "Plus Jakarta Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --play-fair: "Playfair Display", serif;
    --play-fair-SC: "Playfair Display SC", serif;
  }

  body {
    background: var(--white);
    font-family: var(--inter);
    font-weight: 400;
    line-height: 1;
    color: var(--textColor);
    min-width: 935px;
  }
  p {
    margin: 0;
    line-height: 1.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-family: var(--play-fair);
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }

  h1 {
    font-family: var(--play-fair);
    line-height: 1.2;
    font-size: 4rem;
  }

  h2 {
    font-family: var(--play-fair);
    font-size: 2rem;
  }

  h3 {
    font-family: var(--play-fair);
    font-size: 24px;
  }

  h4 {
    font-family: var(--plus-jakarta);
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small {
    font-family: var(--inter);
    font-size: 14px;
  }

  a {
    text-decoration: none;
    font-family: var(--inter);
    color: var(--black);
    font-size: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0 auto;
    padding: 0 80px;
  }

  img {
    object-fit: cover;
  }

  section {
    margin: 0 auto;
    padding: 80px 0;
    border-bottom: 1px solid var(--black);
  }

  .btn {
    background-color: var(--brown);
    border: 1px solid var(--brown);
    color: var(--white);
  }

  .btn__primary {
    font-family: var(--play-fair-SC);
    text-align: center;
    padding: 24px 48px;
    font-size: 24px;
    border-radius: 0px 40px 0px 40px;
  }

  i {
    padding: 10px;
  }

  .trans_45 {
    transform: rotate(45deg);
  }

  .no_trans {
    padding: 5px;
    transform: rotate(0deg);
  }

  .trans_90 {
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
  }
}

@layer header {
  header {
    margin: 10px auto;
    padding: 0 40px;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li {
    margin-right: 3.5rem;
  }

  nav li:first-child,
  nav li:nth-child(5) {
    margin-right: auto;
  }

  nav li:nth-child(6) {
    margin-right: 16px;
  }

  nav li:last-child {
    margin-right: 0;
  }
}

@layer banner {
  #banner {
    text-align: center;
    padding: 80px 0;
  }

  #banner div:first-of-type {
    margin-bottom: 80px;
  }

  #banner p {
    margin: 24px 0;
  }

  #banner div:last-of-type ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1%;
  }
}

@layer achievement {
  #achievement {
    text-align: center;
    border-bottom: 1px solid var(--black);
  }
  #achievement h1 {
    font-family: var(--inter);
    margin-bottom: 8px;
  }

  #achievement ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  #achievement li {
    padding: 10px 60px;
    border-right: 1px solid var(--black);
  }

  #achievement li:last-child {
    border-right: none;
  }
}

@layer coffee_review {
  #coffee_r > div:last-of-type {
    margin: 0 auto;
  }

  .heading {
    margin-bottom: 80px;
    text-align: center;
  }

  .heading h3 {
    font-family: var(--inter);
    color: var(--grey);
    margin-bottom: 8px;
  }

  #coffee_r > div:last-of-type ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    font-family: var(--inter);
    font-size: 24px;
  }

  #coffee_r > div:last-of-type li {
    background-color: var(--bright-grey);
    padding: 16px 40px;
  }

  #coffee_r .card__container {
    margin: 40px 0px;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 24px;
  }

  .text__container {
    margin: 16px 24px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
  }

  .text__container h3 {
    font-family: var(--inter);
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
  }

  .review__container,
  .amount__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
  }

  .amount__container {
    justify-content: space-between;
  }

  .btn__add {
    padding: 10px 32px;
    border-radius: 10px;
  }
}

@layer paragraph {
  .flex__row__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2%;
    text-align: left;
  }

  .paragraph__content {
    flex-basis: 53%;
  }

  .paragraph__content p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .img__container {
    flex-basis: 45%;
    position: relative;
  }

  .displaced__image {
    position: relative;
    top: 20%;
    margin-right: 15px;
  }
}

@layer testimonial {
  .testimonial {
    flex-basis: 32%;
    padding: 24px 40px;
  }

  .img__rating {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 3%;
  }

  .testimonial h3 {
    font-family: var(--inter);
    font-size: 20px;
    margin-bottom: 8px;
  }

  .testimonial p {
    margin-top: 16px;
    font-size: 20px;
  }
}

@layer blog {
  #blog {
    text-align: center;
  }

  #blog > button {
    margin: 80px 0;
  }
  .card__details {
    flex-basis: 28%;
    text-align: center;
    padding: 16px;
    border: 1px solid var(--bright-grey);
    border-radius: 0px 100px 0px 40px;
  }

  .date__author {
    display: flex;
    margin-top: 16px;
    padding: 0 8px;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card__details h4 {
    text-align: left;
    padding: 0 8px;
    margin: 16px 0;
  }

  .bottom__text {
    padding: 0 8px;
    display: block;
    text-align: right;
  }
}

@layer footer {
  footer {
    background-color: #282a3a;
    color: var(--white);
    padding: 80px;
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
  }

  footer p {
    font-size: 20px;
  }

  footer > div {
    padding: 0;
    margin: 0;
  }

  footer > div:first-of-type {
    display: flex;
    flex-flow: column wrap;
    gap: 32px;
  }

  .top__container {
    display: flex;
    flex-flow: row wrap;
    gap: 124px;
  }

  .top__container ul {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }

  .list__icon {
    display: flex;
    flex-flow: row wrap;
  }

  .list__icon li a {
    padding: 5px;
  }

  .top__container > ul li:first-child {
    font-size: 28px;
    font-family: var(--play-fair);
    margin-bottom: 24px;
  }

  .top__container > ul:last-child li:first-child {
    margin-bottom: 0;
  }

  .top__container li a {
    font-family: var(--inter);
    font-size: 1rem;
    color: var(--white);
  }

  .form {
    margin-top: 40px;
  }

  form {
    display: flex;
    flex-flow: row wrap;
    border: 0.01px solid var(--grey);
    border-radius: 5px;
    padding: 5px;
    margin-top: 24px;
    gap: 1%;
  }

  form input {
    flex-basis: 79.4%;
    background: var(--black);
    border: 1px solid var(--black);
  }

  form button {
    flex-basis: 19.6%;
    border-radius: 3%;
  }

  input::placeholder {
    color: var(--white);
    opacity: 0.5;
  }
}
